# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
*.db
*.db-shm
*.db-wal
jobs.db
jobs.db-shm
jobs.db-wal
jobscheduler.db
jobscheduler.db-shm
jobscheduler.db-wal

# Environments
.env
.venv
env/
venv/
ENV/

# Testing
.pytest_cache/

# Local workspace backups & IDE settings
Antigravity IDE/
distributed-job-scheduler/
.idea/
.vscode/
